<style>
{{{css}}}
</style>
<h2 id="title">Welcome to Ember.js</h2>
<h1>Browser</h1>
<p>{{{html}}}</p>

<h1>Code Being Typed</h1>
<h2>HTML</h2>
<p>{{{html}}}</p>
<h2>CSS Editor</h2>	
<p>{{{css}}}</p>

{{{textarea value = html}}}<br>
{{{textarea value = css}}}

{{outlet}}